/*条件筛选*/
div.filter { margin-top: 0.3125rem; }
nav.filter_nav { display: flex; display: -webkit-flex; 
	 padding: 0.3125rem 0; background-color: #fff; }
nav.filter_nav>a { display: block; width: 25%; text-align: center; 
		color: #252825;  line-height: 0.4688rem;}
div.filter a { font-size: 14px; }		
[data-dpr="2"] div.filter a { font-size: 28px; }
[data-dpr="3"] div.filter a { font-size: 42px; }

nav.filter_nav>a>i { margin-left: 0.0781rem; }	
div.filter_line{ border-bottom: 1px solid #e6e6e6; }
/*排序*/
div.filter_sort_list { background-color: #fff; }
div.filter_sort_list li { padding: 0 0.7812rem; border-bottom: 1px solid #e6e6e6; }
div.filter_sort_list li>a { display: block; color: #252825; line-height: 1.375rem; 
		 }
div.filter_sort_list li>a>i { margin-left:  6rem; display: none;
	font-size: 0.4375rem; }		
div.filter_sort_list li.current>a { color: #d10310; }
div.filter_sort_list li.current>a>i { display: inline; }