/*返回头部*/
header.return_header { background-color: #FF5757; border: none;
 }
header.return_header>a.return_iocn{ color: #fff; }
header.return_header>p { color: #fff; line-height: 1.2rem; vertical-align: middle; }
header.return_header i.return_header_icon { display: inline-block; width: 0.8rem;
 height: 0.8rem; background-size: 100%; vertical-align: -0.22rem; 
 margin-right: 0.3125rem;}
header.sale_car_header i.return_header_icon { background-image: url(../images/base/sale_car.png); }	
/*我要卖车*/
section.common_banner { height: 4.6875rem; overflow: hidden;
	color: #fff; text-align: center; font-size: 14px; }
section.sale_car_bg { background: url(../images/banner/sale_car_bg.png) no-repeat; 
		 background-size: 100%; }	
[data-dpr="2"] section.common_banner { font-size: 28px; }
[data-dpr="3"] section.common_banner { font-size: 42px; }
section.sale_car_bg h3 { margin-top: .8rem; font-size: .44rem; 
	font-weight: bold; 
}
div.sale_sub { display: flex; display: -webkit-flex; width: 6.5rem; 
  margin: 0.5rem auto 0 auto; position: relative; height: 0.9375rem;
  font-size: .42rem;
}
div.sale_sub>input { width: 68%; height: 0.9375rem; border: none; 
	border-radius: 0; padding: 0;
 font-size: 14px; text-indent: 0.3125rem; border: 1px solid #d10310; }

div.sale_sub>button { padding: 0; width: 32%; height: 0.9375rem; border: none;
  font-size: 14px; background-color: #d10310; color: #fff; }
[data-dpr="2"] div.sale_sub>input,
[data-dpr="2"] div.sale_sub>button { font-size: 24px; }
[data-dpr="3"] div.sale_sub>input,
[data-dpr="3"] div.sale_sub>button { font-size: 42px; }
section.sale_car_bg	.error_text { width: 6rem; margin: 0 auto;
	position: absolute;
	padding-left: 0; text-indent: 0.3125rem; text-align: center;  }
section.sale_car_bg .sale_car_tell { margin-top: 0.45rem;  }
/*sale_car单元*/
section.sale_car_unit { margin-top: 0.3125rem; padding: 0.4688rem 0;
	 background-color: #fff; }
section.sale_car_unit>.caption { margin: 0 0.4688rem; }
ul._car_process_list { display: flex; display: -webkit-flex; 
		padding-top: 0.4688rem; }
li._car_process_item { width: 33.3%; text-align: center; }
li._car_process_item>div { width: 1.4375rem; height: 1.4375rem;
	margin: 0 auto; background-size: 100%; }
li._car_process_item>p{ margin-top: 0.1562rem; font-size: 14px; }
[data-dpr="2"] li._car_process_item>p, 
[data-dpr="2"] div._car_knowledge_tit>h3{ font-size: 28px; }
[data-dpr="3"] li._car_process_item>p,
[data-dpr="3"] div._car_knowledge_tit>h3{ font-size: 42px; }
li._car_process_item>div.commit_bg { background-image: url(../images/base/commit_bg.png); }
li._car_process_item>div.goto_bg { background-image: url(../images/base/goto_bg.png); }
li._car_process_item>div.sign_bg{ background-image: url(../images/base/sign_bg.png); }
/*卖车小知识*/
ul._car_knowledge_list {  }
li._car_knowledge_item { padding: 0.2344rem 0; border-bottom: 1px solid #DCDCDC; }
div._car_knowledge_tit { display: flex; display: -webkit-flex; align-content: center;
 		padding: 0 0.625rem; line-height: 0.625rem; }
div._car_knowledge_tit>i { margin-left:1.8rem; line-height: 0.625rem;
	font-size: 0.4375rem; color: #666; } 			
div._car_knowledge_tit>h3 { width: 70%; color: #444; font-size: 14px; }							
span._car_knowledge_tit_bg { display: inline-block; width: 0.625rem; height: 0.75rem; 
		background: url(../images/base/_car_knowledge_tit_bg.png) no-repeat;
		margin-right: 0.2344rem; background-size: 100%; }
p._car_knowledge_text { overflow: hidden; margin: 0 0.625rem; padding: 0.0781rem;
	line-height: 0.5rem; text-indent: 0.4688rem; color: #fff;
	background-color: #FF8D8D; display: none; }	
div.sale_car_mask { display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0;
		background-color: rgba(0,0,0, .4); }
div.sale_car_seccess>.ask_box_success { display: block; }		

/*二手车问答页*/
header.ask_header i.return_header_icon { background-image: url(../images/base/ask.png); }
section.ask_bg { background: url(../images/banner/ask_bg.png) no-repeat; 
		 background-size: 100%; }	
section.ask_bg h3 { text-align: center; font-size: 0.5rem; color: #fff;
		margin-top: .8rem; font-weight: 700; }	
section.ask_kind_con { padding-bottom: 0.2rem; margin-top: 0.3125rem;
	 background-color: #fff; overflow: hidden; }
div.ask_swiper_wrapper { padding-top: 0.2rem; }	 
ul.ask_kind_caption { position: relative; width: 100%; padding-top: 0.1562rem; }
ul.ask_kind_caption>li { width: 25%; border-radius: 0; opacity: 1;
 background-color: transparent; margin: 0 !important;  }
ul.ask_kind_caption>li>a { padding: 0 0.1562rem; color: #666; 
	font-size: 16px; line-height: 0.7812rem; padding-bottom: 0.1562rem; }
[data-dpr="2"] ul.ask_kind_caption>li>a { color: #535353; font-size: 32px; }
[data-dpr="3"] ul.ask_kind_caption>li>a { font-size: 48px; }
ul.ask_kind_caption>li.swiper-pagination-bullet-active>a { 
		border-bottom: 3px solid #d10310; color: #d10310; }
dl.ask_kind_dl { display: block; padding: 0.4rem 0.4688rem; 
			border-bottom: 1px solid #d1d1d1; }
div.ask_kind_item dl.ask_kind_dl:last-child { border-bottom: none; }			
dt.ask_kind_tit>i { display: inline-block; padding: 0.0312rem 0.0781rem; color: #fff; 
			background-color: #a6080c; margin-right: 0.2344rem; }
dt.ask_kind_tit>span { font-size: 14px; color: #111; }
[data-dpr="2"] dt.ask_kind_tit>span, 
[data-dpr="2"] dd.ask_kind_desc { font-size: 28px; }
[data-dpr="3"] dt.ask_kind_tit>span,
[data-dpr="3"] dd.ask_kind_desc { font-size: 45px; }	
dd.ask_kind_desc { padding: 0.1562rem 0 0 0.5rem; text-indent: 0.42rem;
			line-height: 0.4688rem; font-size: 14px; color: #333;
			line-height: 0.5469rem; }	
/*服务保障页*/	
header.service_header i { background-image: url(../images/base/service_bg.png); }			 
section.service_bg { background-image: url(../images/banner/service_bg.png);
				background-size: 100%; }
section.service_bg h3 { margin-top: 0.3906rem;
 font-size: 0.5312rem; font-weight: 700; }
ul.service_slogn_list { margin-top: 0.3125rem; }
li.service_slogn_item { margin-left: 50%; width: 40%; text-align: left;
	transform: translateX(-42%); line-height: 0.4688rem;  }
li.service_slogn_item>i { display: inline-block; width: 0.2812rem; height: 0.2188rem; 
	background-image: url(../images/base/service_slogn_bg.png); 
	background-size: 100%; margin-right: 0.1562rem; }
li.service_slogn_item>span { font-size: 12px; }	
[data-dpr="2"] li.service_slogn_item>span { font-size: 24px; }
[data-dpr="3"] li.service_slogn_item>span { font-size: 36px; }
div.service_item { display: flex; display: -webkit-flex; }
div.service_item_left { background-color: #fff; }
div.service_item_right { background-color: ; }
div.service_item>div { height: 4.6875rem;  }
div.service_item_bg { width: 35%; position: relative; }
div.service_item_bg>img { width: 1.875rem; height: 1.875rem; position: absolute;
	top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
div.service_item_text { width: 35%; }
div.service_item_right div.service_item_text { text-align: right; }
div.service_item_text>h3 { margin-top: 1rem; color: #333; font-size: 18px; }
[data-dpr="2"] div.service_item_text>h3 { font-size: 36px; }
[data-dpr="3"] div.service_item_text>h3 { font-size: 54px; }
div.service_item_text>p { margin-top: 0.1562rem; line-height: 0.625rem; 
	color: #666; }
div.service_item_digit { width: 30%; text-align: center; }
div.service_item_digit>p {   }
div.service_item_digit { margin-top: 0.7812rem; font-size: 1.25rem; color: #E77840; }
div.service_item_digit>i { display: inline-block; width: 0.3438rem;
	background-image: url(../images/base/service_item_digit.png);
	background-size: 100%; height: 0.3438rem; vertical-align: 40%; }
/*公共资讯*/	
header.information_header i { background-image: url(../images/base/information.png); }
section.information_bg { background-image: url(../images/banner/information.png);
				background-size: 100%; }
ul.information_list { overflow: hidden; margin-top: 0.3125rem;
	 background-color: #fff;  }	
li.information_item { padding: 0 0.4688rem; border-bottom: 1px solid #d8d8d8; }		
li.information_item:last-child { border-bottom: none; }
a.information_link { display: block; overflow: hidden; margin: 0.3906rem 0; }
a.information_link>h3 { display: -webkit-box; -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; color: #111; font-size: 0.4062rem;
    line-height: 0.5625rem; text-overflow: ellipsis; overflow: hidden;
    margin-bottom: 0.1rem; padding-top: 0.2rem;}
p.information_text { display: -webkit-box; -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; line-height: 0.4688rem; color: #333; font-size: 14px;
 text-overflow: ellipsis; overflow: hidden; } 	 
[data-dpr="2"] p.information_text { font-size: 28px; }
[data-dpr="3"] p.information_text { font-size: 42px; }
/*资讯详情*/
header.infor_datail_header i { background-image: url(../images/base/info_detail.png); }
section.infor_datail_con { padding: 0.4688rem; text-align: center;
	background-color: #fff;  }
section.infor_datail_con>h2 { font-size: 0.5rem; padding-bottom: 0.1562rem; }
section.infor_datail_con>h5 { font-size: 0.375rem; color: #666; }
p.infor_datail_text { padding-top: 0.4688rem; color: #333; text-align: left;
	text-indent: 1rem; font-size: 16px; line-height: 0.56rem; }
[data-dpr="2"] p.infor_datail_text { font-size: 32px; }
[data-dpr="3"] p.infor_datail_text { font-size: 48px; }
section.infor_datail_con img { width: 100%; margin: 0.2rem 0; }
/*私人定制页*/
header.custom_header i { background-image: url(../images/base/custom.png); }
section.custom_bg { background: url(../images/banner/custom_bg.png) no-repeat;
				background-size: 100%; height: 2.9062rem; }
section.custom_con { padding: 0.4688rem; text-align: center; }
section.custom_con h2 { margin-bottom: 0.2rem; }
div.custom_inner { padding: 0.4688rem; background-color: #fff; }
div.form_row { display: flex; display: -webkit-flex; 
	margin-bottom: 0.3125rem; position: relative; }		
div.form_row input { display: inline-block; height: 1rem; text-indent: 0.4688rem;
		font-size: 14px; border: 1px solid #a2a2a2; }
div.form_row p.error_text { position: absolute; top: 0.2rem; right: 0.4688rem; }		
[data-dpr="2"] div.form_row input, [data-dpr="2"] div.input_full textarea,
[data-dpr="2"] div.form_row select, [data-dpr="2"] .form_box button{ font-size: 28px; }
[data-dpr="3"] div.form_row input, [data-dpr="3"] div.input_full textarea,
[data-dpr="3"] div.form_row select, [data-dpr="3"] .form_box button { font-size: 42px; }					
div.input_full input, div.input_full textarea { width: 100%; font-size: 14px; 
		border: 1px solid #a2a2a2; text-indent: 0.4688rem; line-height: 0.5625rem;
		color: #333; } 
div.input_half { justify-content: space-between; }
div.input_half select { width: 47%; text-indent: 0.4688rem; font-size: 14px;
		border: 1px solid #a2a2a2; }
div.input_half select>option { display: inline-block; width: 100%; font-size: 14px; }
[data-dpr="2"]  div.input_half select>option { font-size: 28px; }
[data-dpr="3"]  div.input_half select>option { font-size: 42px; }
div.input_half input { width: 47%; }
button.get_code { width: 47%; background-color: #d10310; color: #fff;
		border: 1px solid #d10310; }
p.code_error_text { position: absolute; padding-left: 0.4688rem; text-indent: 0; margin: 0; }
button.custom_commit { width: 100%; height: 1rem; color: #fff; 
	background-color: #d10310; font-size: 14px; }
.ask_box_success div.return_link { margin-top: 0.3125rem; }	
.ask_box_success div.return_link>a { margin: 0 0.1562rem; }
/*寻求合作*/
header.coopera_header i { background-image: url(../images/base/coopera_s.png);  }
section.coopera_bg { background: url(../images/banner/coopera.png) no-repeat; 
				background-size: 100%; }










































